

.input-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5%;
    align-items: center;
}

.radio-btn{
    gap: 10px;
    flex-direction: row;
}


.home
{
    padding: 20px;
}

.input-form label{
    color: white;

}

.input-form input{
    width: 80% ;
    height: 40px;
    border-radius: 7px;
    padding-left: 10px;
}

.submit-btn{
    width: 80%;
    height: 40px;
    border-radius: 7px;
    background-color: #333;
    color: white;
}

.radio-btn {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}